body {
  background-color: aqua;
}
.line {
  background-color: rgb(0, 0, 2);
  width: 300px;
  height: 4px;
  left: 136px;
  top: 457px;
  display: block;
  margin: 0 auto;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}
ul {
  list-style: none;
  padding: 0;
}
.name {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.profile {
  text-align: center;
  padding: 20px;
  background-color: beige;
  width: 500px;
  margin: 0 auto;
}
.tag {
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
}
.location {
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
}
.stats {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
}
